-- Create orders table
CREATE TABLE IF NOT EXISTS orders (
  id TEXT PRIMARY KEY,
  amount DECIMAL(20,8) NOT NULL,
  crypto TEXT NOT NULL CHECK (crypto IN ("btc", "eth", "usdt")),
  customer_email TEXT NOT NULL,
  customer_name TEXT,
  admin_wallet TEXT NOT NULL,
  expected_amount DECIMAL(20,8) NOT NULL,
  status TEXT NOT NULL DEFAULT "pending" CHECK (status IN ("pending", "confirmed", "failed", "expired")),
  tx_hash TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_orders_status ON orders(status);
CREATE INDEX IF NOT EXISTS idx_orders_created_at ON orders(created_at);
CREATE INDEX IF NOT EXISTS idx_orders_customer_email ON orders(customer_email);

-- Enable RLS (Row Level Security)
ALTER TABLE orders ENABLE ROW LEVEL SECURITY;

-- Create policy for reading orders
CREATE POLICY "Orders are viewable by everyone" ON orders
  FOR SELECT USING (true);

-- Create policy for inserting orders
CREATE POLICY "Anyone can create orders" ON orders
  FOR INSERT WITH CHECK (true);

-- Create policy for updating orders
CREATE POLICY "Orders are updatable by everyone" ON orders
  FOR UPDATE USING (true);

-- Function to automatically update updated_at timestamp
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ language "plpgsql";

-- Trigger to automatically update updated_at
CREATE TRIGGER update_orders_updated_at 
  BEFORE UPDATE ON orders 
  FOR EACH ROW 
  EXECUTE FUNCTION update_updated_at_column();
